.testimonial-card{
  padding:30px 20px;
  border-radius: 10px;
  background-color: var(--white-color);
}

.testimonial-card .testimonial-title{
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--third-color);
  margin-bottom: 20px;
}

.testimonial-card .testimonial-desc{
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.8;
  color: var(--dark-color);
  margin-bottom: 20px;
}

.testimonial-card .testimonial-info{
  display: flex;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid var(--light-gray);
}

.testimonial-card .testimonial-info img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonial-card .testimonial-info .testimonial-name{
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 5px;
}

.testimonial-card .testimonial-info .testimonial-job{
  font-size: .8rem;
  font-weight: 300;
  color: var(--dark-color);
}