.auth{
  padding-top: 100px;
}

.auth-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.auth-btns a{
  padding: 17px 30px;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.auth-btns a:hover{
  color: var(--third-color);
}

.auth-btns a.active{
  background-color: var(--third-color);
  color: var(--white-color);
}

.auth .auth-layout{
  display: flex;
  justify-content: center;
}