.course-card{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.course-card .sales{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  color: var(--white-color);
  background-color: #E8543E;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: 300;
}

.course-card .course-card-img{
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  overflow: hidden;
}

.course-card .course-card-img .overlay{
  position: absolute;
  display: block;
  z-index: 1;
  opacity: 0;
  transition: 0.3s linear;
}

.course-card:hover .course-card-img .overlay{
  opacity: 1;
}

.course-card .course-card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.3s linear;
}

.course-card:hover .course-card-img img{
  scale: 1.2;
}

.course-card .course-rate{
  margin-bottom: 15px;
}

.course-card .course-title{
  display: flex;
  color: var(--dark-color);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 15px;
  transition: 0.3s linear color;
}

.course-card .course-title:hover{
  color: var(--third-color);
}

.course-card .course-info{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.course-card .course-info .course-info-item {
  display: flex;
  align-items: center;
}

.course-card .course-info .course-info-item-icon{
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

.course-card .course-info .course-info-item-icon img{
  opacity: 0.7;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.course-card .course-info .course-info-item-text{
  color: var(--dark-color);
  font-size: 0.9rem;
  font-weight: 300;
}

.course-card .course-card-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  border-top: 1px solid var(--light-gray);
}

.course-card .course-card-details .constructor{
  display: flex;
  align-items: center;
  gap: 10px;
}

.course-card .course-card-details .constructor .constructor-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.course-card .course-card-details .constructor .constructor-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.course-card .course-card-details .constructor .constructor-name{
  color: var(--dark-color);
  font-size: 0.9rem;
  font-weight: 300;
}

.course-card .course-card-details .course-card-price{
  display: flex;
  align-items: center;
  gap: 10px;
}

.course-card .course-card-details .course-card-price .old-price{
  color: var(--dark-gray);
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: line-through;
}

.course-card .course-card-details .course-card-price .new-price{
  color: var(--third-color);
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 576px) {
  .course-card .course-card-img{
    height: 200px;
  }
}